pkgbase = greetd-dms-greeter-bin
	pkgdesc = DankMaterialShell greeter for greetd (binary release)
	pkgver = 1.5.3
	pkgrel = 1
	url = https://github.com/AvengeMedia/DankMaterialShell
	install = greetd-dms-greeter.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = greetd
	depends = quickshell
	optdepends = niri: Niri compositor support
	optdepends = hyprland: Hyprland compositor support
	optdepends = sway: Sway compositor support
	provides = greetd-dms-greeter
	conflicts = greetd-dms-greeter
	conflicts = greetd-dms-greeter-git
	backup = etc/greetd/config.toml
	source_x86_64 = dms-full-amd64-1.5.3.tar.gz::https://github.com/AvengeMedia/DankMaterialShell/releases/download/v1.5.3/dms-full-amd64.tar.gz
	sha256sums_x86_64 = ed543447b98568a092845164ea9cc20538ed8efa421214fba2969ab1b90a3f53
	source_aarch64 = dms-full-arm64-1.5.3.tar.gz::https://github.com/AvengeMedia/DankMaterialShell/releases/download/v1.5.3/dms-full-arm64.tar.gz
	sha256sums_aarch64 = 18ec486382ac3ed742f82e21ba444974f531f483809b476373bb12c6c3c2bfd3

pkgname = greetd-dms-greeter-bin
