pkgbase = dms-shell-bin
	pkgdesc = Desktop shell for wayland compositors built with Quickshell & GO (binary release)
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/AvengeMedia/DankMaterialShell
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = dgop
	depends = quickshell
	depends = accountsservice
	optdepends = cava: Audio visualizer
	optdepends = i2c-tools: External monitor brightness control
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = qt6-multimedia: Sound effect support
	optdepends = power-profiles-daemon: Set power profile
	optdepends = qt6ct: Qt6 application theming
	optdepends = cups-pk-helper: Printer Management
	optdepends = greetd-dms-greeter: Matching greeter for greetd
	provides = dms-shell=1.6.0
	conflicts = dms-shell
	conflicts = dms-shell-git
	source_x86_64 = dms-full-amd64-1.6.0.tar.gz::https://github.com/AvengeMedia/DankMaterialShell/releases/download/v1.6.0/dms-full-amd64.tar.gz
	sha256sums_x86_64 = c05ba8e05e30a432e348a9f8edcabf62e50bb4a810d0a0282eef8deee5baeec1
	source_aarch64 = dms-full-arm64-1.6.0.tar.gz::https://github.com/AvengeMedia/DankMaterialShell/releases/download/v1.6.0/dms-full-arm64.tar.gz
	sha256sums_aarch64 = 6431515df26efa4629f08bdf769e31aea12a5248c487054e39be8f1a0349a025

pkgname = dms-shell-bin
