pkgbase = dms-shell-bin
	pkgdesc = Desktop shell for wayland compositors built with Quickshell & GO (binary release)
	pkgver = 1.5.3
	pkgrel = 2
	url = https://github.com/AvengeMedia/DankMaterialShell
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = dgop
	depends = quickshell
	depends = accountsservice
	optdepends = cava: Audio visualizer
	optdepends = i2c-tools: External monitor brightness control
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = qt6-multimedia: Sound effect support
	optdepends = power-profiles-daemon: Set power profile
	optdepends = qt6ct: Qt6 application theming
	optdepends = cups-pk-helper: Printer Management
	optdepends = greetd-dms-greeter: Matching greeter for greetd
	provides = dms-shell=1.5.3
	conflicts = dms-shell
	conflicts = dms-shell-git
	source_x86_64 = dms-full-amd64-1.5.3.tar.gz::https://github.com/AvengeMedia/DankMaterialShell/releases/download/v1.5.3/dms-full-amd64.tar.gz
	sha256sums_x86_64 = ed543447b98568a092845164ea9cc20538ed8efa421214fba2969ab1b90a3f53
	source_aarch64 = dms-full-arm64-1.5.3.tar.gz::https://github.com/AvengeMedia/DankMaterialShell/releases/download/v1.5.3/dms-full-arm64.tar.gz
	sha256sums_aarch64 = 18ec486382ac3ed742f82e21ba444974f531f483809b476373bb12c6c3c2bfd3

pkgname = dms-shell-bin
